<?xml version="1.0"?>
<routes>
	<vType id="SkodaCitigo" accel="2.14" decel="4.23" sigma="0.5" length="3.56" minGap="2.5" maxSpeed="13.88" color="0,0,1" guiShape="passenger"/>	
	<flow id="vlasska_uvoz" type="SkodaCitigo" from="27302722#0" to="-130525178" probability="{PROBABILITY}" />
</routes>
